//- The basic idea of template inheritance is you should have base.pug template
html
  head
    title Megha Dance Academy
    block scripts
    block style
  body
    nav#navbar 
        ul 
            div#logo 
                img(src="static/img/logo.png")
                | MDA 
            li #[a(href="/") Home]
            li #[a(href="/") About]
            li #[a(href="/") Services]
            li #[a(href="/") Class Info]
            li #[a(href="/contact") Contact Us]
    block content
    footer#footer 
        | Copyright ⓒ 2023 MeghaDanceAcademy.com | All rights reserved